#Django settings
SECRET_KEY="SECRET_KEY"

#Database settings
DB_NAME="DB_NAME"
DB_USER="DB_USER"
DB_PASSWORD="DB_PASSWORD"
DB_HOST="DB_HOST"
DB_PORT="DB_PORT"

#Time zone settings
TIME_ZONE="TIME_ZONE"

# Yandex settings
EMAIL_HOST_USER="EMAIL_HOST_USER"
EMAIL_HOST_PASSWORD="EMAIL_HOST_PASSWORD"
EMAIL_USE_TLS="EMAIL_USE_TLS"
EMAIL_USE_SSL="EMAIL_USE_SSL"

#Docker settings
POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
POSTGRES_DB="POSTGRES_DB"
