{% extends 'diary/base.html' %}

{% block base_content %}
  <div class="container mt-5">
    <h1>Регистрация прошла успешно!</h1>
    <p>На указанный вами email отправлено письмо с ссылкой для подтверждения регистрации.</p>
    <p>Пожалуйста, перейдите по ссылке в письме, чтобы активировать свою учетную запись.</p>
    <p>Если письмо не пришло, проверьте папку "Спам" или попробуйте зарегистрироваться еще раз.</p>
    <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">Перейти к входу</a>
  </div>
{% endblock %}
